<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <a class="new-msg-link" href="/">&#60;back</a>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="title-msg"><%= title %></h1>
    <br />
    <form class="form-inline" method="POST" action="/new">
      <label for="name">Name:</label>
      <input
        autocomplete="off"
        class="form-control ml-8"
        type="text"
        id="name"
        name="name"
        required
      /><br /><br />
      <label for="message">Message:</label>
      <input
        autocomplete="off"
        type="text"
        class="form-control ml-8"
        id="message"
        name="message"
        required
      /><br /><br />
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
  </body>
</html>
